[user]
	email = joel.hoisko@gmail.com
	name = Joel Hoisko
[http]
	sslverify = false
[core]
	excludesfile = false
	editor = nvim
[alias]
    st = status
    co = checkout
    cm = commit
    gud = commit -am
[merge]
  tool = vimdiff
[mergetool]
  prompt = true
[mergetool "vimdiff"]
  cmd = nvim -d $BASE $LOCAL $REMOTE $MERGED -c '$wincmd w' -c 'wincmd J'
# https://www.freecodecamp.org/news/manage-multiple-github-accounts-the-ssh-way-2dadc30ccaca/
[includeIf "gitdir:~/Dolittle/ProsjektLiv"]
    path = ~/Dolittle/.gitconfig
