[user]
	email = joel.hoisko@gmail.com
	name = Joel Hoisko
[http]
	sslverify = false
[core]
	excludesfile = false
	editor = nvim
[alias]
    st = status
    co = checkout
    sw = switch
    cm = commit
    gud = commit -am
    br = branch
    cleanup = !git remote prune origin && git branch --merged | egrep -v '(^\\*|master|main)' | xargs git branch -d
	graph = log --pretty=format:'%s %Cgreen%an %C(bold blue)(%ar) %Cred%h%Creset' --graph
[merge]
  tool = vimdiff
[mergetool]
  prompt = true
[mergetool "vimdiff"]
  cmd = nvim -d $BASE $LOCAL $REMOTE $MERGED -c '$wincmd w' -c 'wincmd J'
# https://www.freecodecamp.org/news/manage-multiple-github-accounts-the-ssh-way-2dadc30ccaca/
[pager]
	branch = false
[pull]
	rebase = false
[init]
	defaultBranch = main
