! Define some colors
#define bg #1e282c
#define fg #c3c7d1
#define alphabg [85]#1e282c
#define rofibg argb:0fdf6e3

! ------------------------------------------------------
! ROFI Color theme
! ------------------------------------------------------
rofi.color-enabled: true
!                   bg              border          separator
rofi.color-window:  argb:d41e282c,  argb:0002b36,   #000000
!                   bg       	fg      altbg   hlbg     	    hlfg
rofi.color-normal:  rofibg,     fg,     rofibg, argb:5080cbc3,  fg

! unnecessary stuff?
!rofi.color-active: argb:7c4c4c4c, #268bd2, #eee8d5, #268bd2, #fdf6e3
!rofi.color-urgent: #fdf6e3, #dc322f, #eee8d5, #dc322f, #fdf6e3

rofi.font:              Fira Mono 15
rofi.lines:             7
rofi.fullscreen:        true
rofi.padding:           400
rofi.hide-scrollbar:    true
rofi.fuzzy:             true

! URxvt settings
URxvt.depth:        32
URxvt.scrollBar:    false
URxvt.cursorBlink:  true
URxvt.cursorUnderline:  true
URxvt.internalBorder:   20

! URxvt font
URxvt.allow_bold:   true
URxvt*font:         xft:Fira Mono:pixelsize=16
URxvt*boldFont:     xft:Fira Mono:bold:pixelsize=18

! special
URxvt*foreground:   fg
URxvt*background:   alphabg
URxvt*cursorColor:  fg

! black
URxvt*color0:       #073641
URxvt*color8:       #1e6d81

! red
URxvt*color1:       #eb8860
URxvt*color9:       #eb606b

! green
URxvt*color2:       #c3e88d
URxvt*color10:      #c3e88d

! yellow
URxvt*color3:       #f7eb95
URxvt*color11:      #f7eb95

! blue
URxvt*color4:       #80cbc3
URxvt*color12:      #7dc6bf

! magenta
URxvt*color5:       #ff2490
URxvt*color13:      #6c71c3

! cyan
URxvt*color6:       #aeddff
URxvt*color14:      #5d788a

! white
URxvt*color7:       #ffffff
URxvt*color15:      #ffffff
