! Define some colors
#define bg #1e282c
#define fg #c3c7d1
#define alphabg [100]#1e282c
#define rofibg argb:0fdf6e3

! ------------------------------------------------------
! ROFI Color theme
! ------------------------------------------------------
rofi.color-enabled: true
!                   bg              border          separator
rofi.color-window:  argb:d41e282c,  argb:0002b36,   #000000
!                   bg       	fg      altbg   hlbg     	    hlfg
rofi.color-normal:  rofibg,     fg,     rofibg, argb:5080cbc3,  fg

! unnecessary stuff?
!rofi.color-active: argb:7c4c4c4c, #268bd2, #eee8d5, #268bd2, #fdf6e3
!rofi.color-urgent: #fdf6e3, #dc322f, #eee8d5, #dc322f, #fdf6e3

rofi.font:              Fira Mono 15
rofi.lines:             7
rofi.fullscreen:        true
rofi.padding:           400
rofi.hide-scrollbar:    true
rofi.fuzzy:             true

! URxvt settings
URxvt.depth:        32
URxvt.scrollBar:    false
URxvt.cursorBlink:  true
URxvt.cursorUnderline:  true
URxvt.internalBorder:   20
URxvt.saveLines:    3000
URxvt.letterSpace: -1
!
!! URxvt font
URxvt.allow_bold:   true
URxvt*font:         xft:DejaVu Sans Mono for Powerline:pixelsize=15
URxvt*boldFont:     xft:DejaVu Sans Mono for Powerline:bold:pixelsize=16
!

! special
*.foreground:   #eceff1
*.background:   #1a1a1a
*.cursorColor:  #eceff1

! black
*.color0:       #263238
*.color8:       #37474f

! red
*.color1:       #ff9800
*.color9:       #ffa74d

! green
*.color2:       #8bc34a
*.color10:      #9ccc65

! yellow
*.color3:       #ffc107
*.color11:      #ffa000

! blue
*.color4:       #03a9f4
*.color12:      #81d4fa

! magenta
*.color5:       #e91e63
*.color13:      #ad1457

! cyan
*.color6:       #009688
*.color14:      #26a69a

! white
*.color7:       #cfd8dc
*.color15:      #eceff1
