# for easy updating/upgrading
alias upgrade='sudo apt update && sudo apt upgrade'
alias update='sudo apt update'
alias install='sudo apt install'
alias asd='mesleep'
alias i3conf='cd ~/dotfiles && nvim i3/.config/regolith2/i3/config'
alias pipes.sh='pipes.sh -R -r 0 -s 6 -p 15 -f 100'
alias ll='ls -lAh'
alias tasks='task list sort:project'
alias wttr='curl wttr.in/'
alias bt='bluetoothctl'
alias website='ssh root@51.15.134.113'
alias mongotime='echo "killing mongo"; docker kill $(docker ps -q --filter ancestor=dolittle/mongodb); echo "starting mongo"; docker run -d -p 27017:27017 dolittle/mongodb'
# alias dotime='cd ~/bin/; docker-compose up;'
alias ..="cd .."
alias ...="cd ../.."
alias ....="cd ../../.."
alias .....="cd ../../../.."
alias ......="cd ../../../../.."

alias nuget="mono /usr/local/bin/nuget.exe"
alias dockup="docker-compose up"
alias dockdown="docker-compose down"
alias dockstop="docker-compose stop"
alias doru="dotnet run"
alias dobu="dotnet build"
alias dore="dotnet restore"
alias dote="dotnet test"
alias btm="btm -g --color gruvbox"
alias git-clean-main='git checkout -q main && git for-each-ref refs/heads/ "--format=%(refname:short)" | while read branch; do mergeBase=$(git merge-base main $branch) && [[ $(git cherry main $(git commit-tree $(git rev-parse "$branch^{tree}") -p $mergeBase -m _)) == "-"* ]] && git branch -D $branch; done'
alias git-clean-master='git checkout -q master && git for-each-ref refs/heads/ "--format=%(refname:short)" | while read branch; do mergeBase=$(git merge-base master $branch) && [[ $(git cherry master $(git commit-tree $(git rev-parse "$branch^{tree}") -p $mergeBase -m _)) == "-"* ]] && git branch -D $branch; done'
alias git-clean-main-squashed='git checkout -q main && git for-each-ref refs/heads/ "--format=%(refname:short)" | while read branch; do mergeBase=$(git merge-base main $branch) && [[ $(git cherry main $(git commit-tree $(git rev-parse "$branch^{tree}") -p $mergeBase -m _)) == "-"* ]] && git branch -D $branch; done'
alias flash-lily58='qmk flash -bl dfu -kb lily58 -km joelhoisko'

